{
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "array-bracket-spacing": ["error", "never"],
        "curly": "error",
        "eol-last": ["error", "always"],
        "indent": ["error", 4],
        "no-multiple-empty-lines": "error",
        "object-curly-spacing": ["error", "never"]
    }
}
